@import url('https://fonts.googleapis.com/css?family=Muli:400|Open+Sans|Roboto:900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #194373 url('images/grid2.jpg');
    color: white;
    font-family: 'Muli', sans-serif;
    text-shadow: -1px 1px #252525;
    font-size: 16px;
    line-height: 20px;
    min-height: 100vh;
}

.wrapper {
    min-height: 100vh;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: #7EB4F2;
    text-decoration: underline;
}

p {
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

h1 {
    font-size: 1.625em;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    margin: 2px;
}

h1.site-title {
    letter-spacing: .1em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

h3 {
    font-size: .786em;
    letter-spacing: .1em;
}

h4 {
    font-size: 22px;
}

.quick-contact p {
    margin: 0px;
}

/* Burger nav start */
.burger-button-image {
    width: 25px;
    height: 150px;
}

.burger {
    color: white;
    position: relative;
    top: -154px;
    left: 25px;
}

.burger>a {
    color: white;
}

/* .burger>a:hover {
    } */

.burger li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 25px;
    background-color: #194373;
    border-bottom: solid 1px #7EB4F2;
    border-left: solid 1px #7EB4F2;
    border-right: solid 1px #7EB4F2;
}

.burger-top {
    border-top: solid 1px #7EB4F2;
}

.burger li:hover,
.burger li:active {
    background-color: #2462A7;
}

/* Do not show checkbox */
.burger-trigger {
    display: none;
}

/* Hide burger lines when menu open */
.burger-trigger:checked+label>.burger-button-open {
    display: none;
}

/* Hide close x mark when menu closed */
.burger-trigger:not(:checked)+label>.burger-button-close {
    display: none;
}

/* Hide menu when the hidden checkbox is not checked, otherwise show it */
.burger-trigger:not(:checked)~.burger {
    display: none;
}

.burger-label {
    text-align: right;
    padding-right: 5px;
    vertical-align: middle;
    width: 100%;
    height: 2em;
    padding-top: 5px;
    color: white;
}

nav {
    width: 40%;
    height: 162px;
}

/* Burger Nav end */

.page-heading {
    width: 60%;
    margin-left: auto;
    padding: 10px;
    background: #194373;
}

.headwrap {
    order: 0;
}

.content-boxes {
    border: solid 1px #7EB4F2;
    padding: 10px;
}

.content-wrapper {
    order: 1;
}

.main-content-row {
    margin-top: -62px;
    width: 70%;
    margin-left: auto;
    background: rgb(94,134,181);
    background: linear-gradient(75deg, rgba(94,134,181,1) 0%, rgba(37,98,167,1) 100%);
}

.main-content {

}

.secondary-content-row {
    width: 70%;
    background: rgb(94,134,181);
    background: linear-gradient(347deg, rgba(94,134,181,1) 0%, rgba(37,98,167,1) 100%);
}

.secondary-content {

}

.project-item-container {
    align-items: center;
}

.project-item {
    max-width: 600px;
}

.project-item h3 {
    text-align: center;
}

.project-pics {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project-pics-captions {
    padding: 15px;
}

.quick-contact {
    margin-left: auto;
    order: 2;
    background: rgb(94,134,181);
    background: linear-gradient(347deg, rgba(94,134,181,1) 0%, rgba(37,98,167,1) 100%);
}

.inner-contact-container {
    text-align: right;
    margin: 2vh 0 8vh 0;
}

.footer {
    text-align: center;
    background: black;
    border: none;
    order: 3;
}

@media screen and (min-width: 768px) {

    body {
        font-size: 16px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }

    nav {
        max-width: 200px;
    }

    .burger li {
        width: 100px;
    }

}

@media screen and (min-width: 1366px) {

    .page-heading {
        width: 50%;
    }

    /* Burger nav start */

    nav {
        margin-top: 50px;
        max-width: 1000px;
    }

    .burger {
        height: 50px;
        width: 600px;
        position: static;
    }

    .burger li {
        height: 50px;
        width: 100px;
        border: solid 1px #7EB4F2;
    }

    .burger li:hover {
        background-color: #2562a7;
    }

    .burger ul {
        list-style: none;
    }

    /* Bring list out for larger screens */
    .burger-trigger:not(:checked)~.burger {
        display: flex;
    }

    .burger-label {
        display: none;
    }

    .burger>a:hover {
        color: black;
    }

    /*End Burger nav */

    body {
        font-size: 22px;
        line-height: 45px;
    }

    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 44px;
    }

    h3 {
        font-size: 38px;
    }

}

@media screen and (min-width: 1920px) {

    .burger li {
        width: 150px;
    }

    .burger {
        width: 900px;
    }
}